apiVersion: v1
kind: Secret
metadata:
  name: {{ client_name }}-credentials
  namespace: {{ namespace }}
type: Opaque
stringData:
  {% for key, value in credentials.items() %}
  {{ key }}: "{{ value }}"
  {% endfor %}